@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

/* --------------- Desktop --------------- */

header {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(239, 239, 239);
    color: #000;
}

.logo{
    width: 180px;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-icon {
    display: block;
    z-index: 20;
    background-color: transparent;
}

#menu-icon img {
    width: 30px;
    margin-right: 20px;
}

.nav-list {
    position: fixed;
    background-color: rgb(239, 239, 239);
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    list-style: none;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    z-index: 20;
}

.nav-list li {
    transform: translate(-23%, 0%);
    font-weight: 600;
}

.nav-list li:first-child {
    margin-top: 120px;
}

.nav-list.ativo {
    left: 50%;
}

/* ---------- Fim do cabeçalho ---------- */

/* #ladoEsq span {
    color: #3e2b8b;
}

#ladoDir img {
    position: absolute;
    right: 40px;
    top: 70px;
}

#ladoEsq {
    position: absolute;
    left: 90px;
    top: 230px;
}

#ladoEsq h1 {
    font-size: 2.5em;
}

#ladoEsq p {
    max-width: 380px;
    margin-bottom: 30px;
}

.botao {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 10px;
    background-color: #3e2b8b;
}

.btn-default {
    margin-right: 20px;
    background-color: #2cb17b;
}

#shape {
    position: absolute;
    left: -300px;
    top: 40px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background-color: #2cb17c2d;
} */

@media (min-width: 768px){
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
        gap: 48px;
        position: static;
        background-color: transparent;
    }

    .nav-list li:first-child {
        margin-top: 0px;
    }

    .nav-item.active a {
        border-bottom: 3px solid black;
    }

    #menu-icon {
        display: none;
    }
    /*Fim do cabeçalho*/

    /* #ladoDir img {
        display: none;
    }

    #ladoEsq {
        z-index: 1;
    }

    #shape {
        display: none;
    } */
}